section.home.section#home
  .home__container.container.grid
    span.home__img
      img(src=require("../../../images/home-image.png"), alt="full-stack development")
    .home__data
      h1.home__title Olá, sou Aleksandr Shliakhov
      h3.home__subtitle Full-Stack Developer
      p.home__description Com grande habilidade e dedicação, ofereço aos meus clientes soluções de software de alta qualidade e personalizadas, sempre buscando os melhores resultados em eficiência e inovação tecnológica.
      a.button(href="#about")
        i.uil.uil-user.button__icon
        | Mais Sobre Mim
    .my__info
      a(href="https://wa.me/5583993307656" target="_blank").info__item
        i.uil.uil-whatsapp.info__icon
        div
          h3.info__title Whatsapp
          span.info__subtitle +55 (83) 993307656
      .info__item
        i.uil.uil-envelope-edit.info__icon
        div
          h3.info__title E-mail
          span.info__subtitle caminante.msk@gmail.com
      a(href="https://github.com/TrueAlexander" target="_blank").info__item
        i.fa-brands.fa-github.info__icon
        div
          h3.info__title GitHub
          span.info__subtitle TrueAlexander
