section.testimonials.section#testimonials
  h2.section__title(data-heading="Meus clientes dizem") Depoimentos
  div(data-aos="fade-in" data-aos-duration="1800").testimonials__container.container.swiper
    .swiper-wrapper
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date 27 de março 2023
        .testimonial__profile
          img.testimonial__profile-img(src=require("../../../images/client1.jpg") alt="")
          .testimonial__profile-data
            span.testimonial__profile-name Sandra Cardoso
            span.testimonial__profile-detail Duque de Caxías
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date 17 de janeiro 2023
        .testimonial__profile
          img.testimonial__profile-img(src=require("../../../images/client2.jpg")  alt="") 
          .testimonial__profile-data
            span.testimonial__profile-name Marcus Andrade
            span.testimonial__profile-detail Rio de Janeiro
      .testimonial__card.swiper-slide
        .testimonial__quote
          i.bx.bxs-quote-alt-left
        p.testimonial__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Id labore mollitia quis explicabo nisi esse repellendus deleniti aperiam, soluta accusamus, nesciunt exercitationem. Ipsa eveniet placeat alias optio? Commodi, laborum maxime.
        h3.testimonial__date 18 de novembro 2022
        div.testimonial__profile
          img.testimonial__profile-img(src=require("../../../images/client3.jpg")  alt="")
          .testimonial__profile-data
            span.testimonial__profile-name Clara Schmutz
            span.testimonial__profile-detail Niterói
    .swiper-pagination
