section.section.projects#projects
  h2.section__title(data-heading="Projetos realizados") Portfólio
  div(data-aos="fade-in" data-aos-duration="1800").container.projects__container.grid
    .projects__card
      h3.projects__title Aplicativo Full-Stack
      img.projects__img(src=require("../../../images/russolinguo_img.png") alt="aplicativo Full-Stack") 
      .projects__item-details
        h3.details__title Aplicativo web para aprendizes de russo
        p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        ul.details__info
          li NextJS, ReactJS, MongoDB
          li
            a(href="https://russolinguo.com/" target="_blank") Clique para abrir
    .projects__card
      h3.projects__title Aplicativo web
      img.projects__img(src=require("../../../images/pizzas_img.png") alt="aplicativo web") 
      .projects__item-details
        h3.details__title Cardápio virtual para pizzaria
        p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        ul.details__info
          li ReactJS, Redux-toolkit, Firebase Realtime Database
          li
            a(href="https://pizzas-de-casa.vercel.app" target="_blank") Clique para abrir
    .projects__card
      h3.projects__title Landing Page
      img.projects__img(src=require("../../../images/dentist_img.png") alt="Landing Page") 
      .projects__item-details
        h3.details__title Website para um dentista
        p.details__description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quidem eius ex atque dolore laudantium labore, aspernatur quibusdam accusamus ea est numquam molestias repellat sunt quaerat, sint mollitia. Dolorum, doloremque!
        ul.details__info
          li Pug, Javascript, SCSS
          li
            a(href="https://truealexander.github.io/dentist-landing/" target="_blank") Clique para abrir


          