footer.footer
  .footer__bg
    .footer__container.container.grid
      div
        h1.footer__title Aleksandr Shliakhov
        span.footer__subtitle Full-Stack Developer
      ul.footer__links
        li
          a.footer__link(href="#about") Sobre mim
        li
          a.footer__link(href="#projects") Projetos
        li
          a.footer__link(href="#contact") Contatos
      .footer__socials
        a.footer__social(href="https://wa.me/5583993307656" target="_blank")
          i.uil.uil-whatsapp
        a.footer__social(href="https://github.com/TrueAlexander" target="_blank")
          i.fa-brands.fa-github
        a.footer__social(href="mailto: caminante.msk@gmail.com" target="_blank")
          i.uil.uil-envelope-edit
    p.footer__copy &#169;  
      | 2024. Todos direitos estão reservados