section.section.api-show
  h2.section__title(data-heading="Aqui pode estar a informação sobre o seu recurso") API data
  div(data-aos="fade-in" data-aos-duration="1800").container.api-show__container
    h2.api-show__title Conselho de uma pessoa sábia:
    h3.api-show__text 
    button.button.api-show__button Outro
    


          