section.about.section#about
  h2.section__title(data-heading="Quem sou") Sobre Mim
  div(data-aos="fade-in" data-aos-duration="1800").about__container.container.grid
      img.about__img(src=require("../../../images/about-img.jpg") alt="")
      .about__data
        h3.about__heading Aleksandr Shliakhov, Full-Stack Developer
        p.about__description
            | Lorem ipsum dolor sit amet consectetur adipisicing elit. Et reprehenderit laborum dolorem inventore sequi voluptates quia nihil eligendi, explicabo assumenda, illo accusantium possimus nostrum molestias repellendus, cum repellat consequuntur quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eveniet nulla non neque libero corporis enim delectus officia? Veniam at a rem velit commodi voluptatibus eius maxime non porro est?
        .about__info.grid
          .about__box
            i.uil.uil-award.about__icon
            h3.about__title Experiência
            span.about__subtitle 3+ anos
          .about__box
            i.uil.uil-smile.about__icon
            h3.about__title Projetos realizados
            span.about__subtitle 15+
          .about__box
            i.uil.uil-hourglass.about__icon
            h3.about__title Suporte
            span.about__subtitle 24 / 7
        a.button(href="#contact")
          i.uil.uil-navigator.button__icon
          | Fale comigo
