section.contact.section#contact
  h2.section__title(data-heading="Fale comigo") Contatos
  div(data-aos="fade-in" data-aos-duration="1800").contact__container.container.grid
    .contact__content
        .contact__info
          .contact__card
            i.uil.uil-whatsapp.contact__card-icon
            h3.contact__card-title Whatsapp
            span.contact__card-data +55 (83) 993307656
            a(href="https://wa.me/5583993307656" target="_blank").contact__button Fale comigo 
              i.uil.uil-arrow-right.contact__button-icon
          .contact__card
            i.uil.uil-envelope-edit.contact__card-icon
            h3.contact__card-title E-mail
            span.contact__card-data caminante.msk@gmail.com
            a(href="mailto: caminante.msk@gmail.com").contact__button Escreva-me 
              i.uil.uil-arrow-right.contact__button-icon
          .contact__card
            i.fa-brands.fa-github.contact__card-icon
            h3.contact__card-title Github
            span.contact__card-data TrueAlexander
            a(href="https://github.com/TrueAlexander" target="_blank").contact__button Inscreva-se 
              i.uil.uil-arrow-right.contact__button-icon         
    .contact__content
      form.contact__form(action="https://formsubmit.co/caminante.msk@gmail.com" method="POST")
        .input__container
          input.input(type="text" name="nome" minlength="3" required) 
          label(for="nome") Seu Nome
          span Username
        .input__container
          input.input(type="email" name="email" required)
          label(for="email") E-mail
          span Email
        .input__container
          input.input(type="number" name="telefone" minlength="9" maxlength="13" required)
          label(for="telefone") Telefone
          span Phone
        .input__container.textarea
          textarea.input(name="mensagem" required minlength="10") 
          label(for="mensagem") Mensagem
          span Message
        input(type="hidden" name="_subject" value="Mensagem de Cliente!")
        input(type="hidden" name="_template" value="table")
        input(type="hidden" name="_captcha" value="false")
        button.button(type="submit") 
          i.uil.uil-navigator.button__icon 
          | Enviar
          
