div
  .nav__toggle#nav-toggle
    i.uil.uil-bars
  header.header#header
    nav.nav.container
      .nav__logo
        a.nav__logo-text(href="index.html")
          i.fa-solid.fa-code
      .nav__menu
        ul.nav__list
          li.nav__item
            a.nav__link.active-link(href="#home") Home
          li.nav__item
            a.nav__link(href="#about") Sobre Mim
          li.nav__item
            a.nav__link(href="#projects") Projetos
          li.nav__item
            a.nav__link(href="#testimonials") Depoimentos
          li.nav__item
            a.nav__link(href="#contact") Contatos
      .nav__close#nav-close
        i.uil.uil-times
