.whatsappIcon 
  .whatsapp.animate__delay-10s.animate__animated.animate__pulse.animate__slow.animate__infinite(title="Fale comigo")
    a(href="https://wa.me/5583993307656" target="_blank")
      img(src=require("../../../images/whatsapp.png"), alt="Fale comigo")