doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    meta(name="description" content="Full-Stack Development")
    meta(property="og:type" content="website")
    meta(property="og:title" content="Aleksandr Shliakhov. Full-Stack Developer")
    meta(property="og:site_name" content="Full-Stack Development") 
    meta(property="og:url" content="truealexander.github.io/full-stack-developer/") 
    meta(property="og:description" content="Full-Stack Development. Soluções de software de alta qualidade") 
    //- meta(property="og:image" content="https://i.postimg.cc/RCWvsSxt/logo-principal.jpg")
    link(rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    link(rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css")
    title Full-Stack Developer Aleksandr Shliakhov
  body.preload#home(style="visibility: hidden;")
    include sections/header/header
    main
      include sections/home/home
      include sections/about/about
      include sections/projects/projects
      include sections/api-show/api-show
      include sections/opinions/opinions
      include sections/contact/contact
      include sections/whatsappIcon/whatsappIcon
    include sections/footer/footer
   
